.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  min-width: 1000px;
  margin: 20px auto;
  padding: 20px 30px;

  border: 2px solid blue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.location,
.env,
.servers,
.prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 30%;
}

.servers {
  justify-content: left;
}

.prompt,
.prompt input {
  width: 100%;
}

.prompt input {
  height: 30px;
}

.desc {
  min-width: 82px;
  text-align: right;
}

.closeButton {
  padding: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.fa-trash-can:hover {
  transform: scale(1.1);
}